firmware/build/*
!firmware/build/esp32_security_camera.bin
!firmware/build/version
server/frames
server/target
server/.env

firmware/managed_components
firmware/.cache
firmware/sdkconfig
firmware/sdkconfig.old

.idea
